DATABASE_URL="postgresql://postgres.mpfwfcudwgyydxjxkyso:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.mpfwfcudwgyydxjxkyso:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="generate_a_random_secure_string_for_production"
ADMIN_EMAIL="sahilwaheed48@gmail.com"
ADMIN_PASSWORD="Admin@12345"

STRIPE_API_SECRET="sk_test_..."
STRIPE_API_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="samisial1555@gmail.com"
SMTP_PASS="tdso tlmz znkm xipz"

# Payfast
PAYFAST_MERCHANT_ID="your_sandbox_merchant_id"
PAYFAST_SECURED_KEY="your_sandbox_secured_key"
PAYFAST_SANDBOX="true"
PAYFAST_TOKEN_URL="https://sandbox.gopayfast.com/Token/token.php"
PAYFAST_CHECKOUT_URL="https://sandbox.gopayfast.com/Transaction/pay.php"

# TCS Courier Integration
TCS_API_URL="https://api.tcscourier.com/production/v1"
TCS_CLIENT_ID=""
TCS_USERNAME=""
TCS_PASSWORD=""
TCS_COST_CENTER=""
